@import "tailwindcss";
@import "@fontsource-variable/outfit";
@import "@fontsource-variable/outfit/wght.css";
/* @import "@fontsource-variable/outfit/wght-italic.css"; */

* {
  font-family: "Outfit Variable";
}
.placeholder-color {
  color: #e0e0e0;
  font-weight: 300;
}
